@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Smooch+Sans:wght@700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f8f8ff;
  color: #0f141e;
}
body h2 {
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
}
.container {
  max-width: 80%;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 200px;
  border-radius: 25px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.info {
  margin-bottom: 20px;
  display: flex;
}
.info-text {
  margin-left: 40px;
}
.info-text p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #86898f;
  margin: 0;
}
@media (max-width: 850px) {
  .info {
    display: block;
    text-align: center;
  }
}

.card {
  border: 2px solid white;
  border-radius: 10px;
  padding-left: 10px;
  background: #dcdcdc;
  margin-bottom: 20px;
  padding: 15px 20px;
}
.card h2 {
  margin-top: 0;
}
a {
  color: black;
  text-decoration: none;
  transition: all 0.2s;
  padding-right: 10px;
}
a:hover {
  color: grey;
  font-size: 1.03rem;
}
/* a:visited {
  color: blue;
} */
a:active {
  color: red;
}
.btn {
  background: black;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  margin-top: 10px;
}
.btn:hover {
  opacity: 0.8;
  font-size: 1.01rem;
}
.list li {
  margin-bottom: 10px;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
  width: 35%;
  text-align: left;
  box-sizing: border-box;
}
.table td:nth-child(even) {
  font-weight: bold;
}
.form-group label {
  display: block;
  font-size: 16px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  border-radius: 5px;
}
.form-row {
  margin-bottom: 20px;
  display: flex;
}
.form-row .form-group {
  margin-right: 20px;
  width: calc(50% - 20px);
}
.form-row .form-group:last-child {
  margin-right: 0;
}
@media (max-width: 850px) {
  .form-row {
    display: block;
  }
  .form-row .form-group {
    margin-right: 0;
    width: 100%;
    margin-top: 20px;
  }
}
